{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <div class="filterBar">
        <input class="filterBar-left" type="search" />
        <div class="filterBar-right">
            <label>
                Sport
                <select>
                    <option></option>
                    <option>Fussball</option>
                    <option>Handball</option>
                    <option>Tischtennis</option>
                </select>
            </label>
            <label>
                Group
                <select>
                    <option></option>
                    <option>male</option>
                    <option>female</option>
                    <option>child</option>
                </select>
            </label>
            <label>
                Residence
                <select>
                    <option></option>
                    <option>Charlottenburg-Wilmersdorf</option>
                    <option>Friedrichshain-Kreuzberg</option>
                    <option>Lichtenberg</option>
                    <option>Mahrzahn-Hellersdorf</option>
                    <option>Mitte</option>
                    <option>Neukölln</option>
                    <option>Pankow</option>
                    <option>Reinickendorf</option>
                    <option>Spandau</option>
                    <option>Steglitz-Zehlendorf</option>
                    <option>Tempelhof-Schöneberg</option>
                    <option>Treptow-Köpenick</option>
                </select>
            </label>
        </div>
    </div>

    {% if events %}
        <ul class="events">
            {% for event in events %}
                <li><a href="{% url 'events:detail' event.id %}" class="listItem m0" style="background-image: url('{% static "events/wedding.jpg" %}')">
                    <div class="listItem-mask">
                        <span class="listItem-title">{{ event.title }}</span>
                        <span class="listItem-meta">{{ event.spots }} Plätze</span>
                    </div>
                </a></li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}

