{% extends "common/base.html" %}

{% block content %}
    <div class="filterBar">
        <input class="filterBar-left" type="search" />
        <div class="filterBar-right">
            <label>
                Sport
                <select>
                    <option></option>
                    <option>Fussball</option>
                    <option>Handball</option>
                    <option>Tischtennis</option>
                </select>
            </label>
            <label>
                Group
                <select>
                    <option></option>
                    <option>male</option>
                    <option>female</option>
                    <option>child</option>
                </select>
            </label>
            <label>
                Residence
                <select>
                    <option></option>
                    <option>Charlottenburg-Wilmersdorf</option>
                    <option>Friedrichshain-Kreuzberg</option>
                    <option>Lichtenberg</option>
                    <option>Mahrzahn-Hellersdorf</option>
                    <option>Mitte</option>
                    <option>Neukölln</option>
                    <option>Pankow</option>
                    <option>Reinickendorf</option>
                    <option>Spandau</option>
                    <option>Steglitz-Zehlendorf</option>
                    <option>Tempelhof-Schöneberg</option>
                    <option>Treptow-Köpenick</option>
                </select>
            </label>
        </div>
    </div>

    <ul class="events">
        <li><a href="event.html" class="listItem m0" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m0" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m1" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m2" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m3" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m4" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m4" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
        <li><a href="event.html" class="listItem m5" style="background-image: url('static/wedding.jpg')">
            <div class="listItem-mask">
                <span class="listItem-title">Wild Wedding Fussball</span>
                <span class="listItem-meta">11&nbsp;Plätze</span>
            </div>
        </a></li>
    </ul>   


{% endblock %}

