@viewport {
  width: device-width; }

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%; }

p, address, blockquote, pre, table, dl, ul, ol, figure, fieldset {
  margin-top: 0;
  margin-bottom: 1em; }

html {
  overflow-y: scroll;
  background-color: #fff;
  box-sizing: border-box;
  color: #333;
  font-size: 1.2em;
  font-family: sans-serif;
  line-height: 1.4; }

body {
  margin: 2em auto;
  max-width: 36em;
  padding: 0 0.5em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.8rem;
  margin-top: 1.5em; }

a {
  color: #294DBF;
  text-decoration: underline; }
  a:hover, a:focus, a:active {
    color: #242f6e; }

a:not([href]) {
  color: inherit;
  text-decoration: inherit; }
  a:not([href]):hover, a:not([href]):focus, a:not([href]):active {
    color: inherit; }

*::selection {
  background: #294DBF;
  color: #fff; }

hr {
  border: 0;
  border-bottom: 1px solid #adadad;
  margin: 1em 0; }

pre, code {
  font-size: 90%;
  font-family: monospace;
  background-color: whitesmoke; }

code {
  padding: 0 0.25em; }

pre {
  padding: 0.5em;
  overflow: auto;
  border: 1px solid #adadad; }
  pre code {
    background: none;
    font-size: 100%;
    padding: 0; }

ol, ul {
  padding-left: 2rem; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2rem; }

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table td, table th {
    text-align: start;
    padding: 0.5em;
    border-top: 1px solid #adadad;
    vertical-align: top; }

textarea {
  resize: vertical; }

fieldset {
  border: 1px solid #adadad; }

sub, sup {
  line-height: 0; }

@media print {
  html {
    background: transparent;
    color: #000; }
  h2, h3 {
    page-break-after: avoid; } }

label {
  display: block; }

input,
textarea,
select, .button,
button,
[type=button],
[type=submit] {
  margin: 0 0 1em;
  border: 1px solid #adadad;
  border-radius: 0.2em;
  padding: 0.3em 0.75em;
  font-family: inherit;
  font-size: inherit; }

input,
textarea,
select {
  background: #fff;
  color: #333; }
  input:invalid,
  textarea:invalid,
  select:invalid {
    border-color: red;
    color: red; }
  input:disabled,
  textarea:disabled,
  select:disabled {
    border-color: #adadad;
    background: whitesmoke;
    color: #adadad;
    cursor: not-allowed; }

.button,
button,
[type=button],
[type=submit] {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 1.8;
  text-align: center;
  border-color: #294DBF;
  background: #294DBF;
  color: #fff; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  [type=button]:hover,
  [type=button]:focus,
  [type=submit]:hover,
  [type=submit]:focus {
    border-color: #273e97;
    background: #273e97;
    color: #fff; }
  .button:active,
  button:active,
  [type=button]:active,
  [type=submit]:active {
    border-color: #242f6e;
    background: #242f6e;
    color: #fff; }
  .button:disabled,
  button:disabled,
  [type=button]:disabled,
  [type=submit]:disabled {
    border-color: #94a6df;
    background: #94a6df;
    color: #eaedf9;
    cursor: not-allowed; }

.standalone {
  max-width: 20em;
  margin: 0 auto; }
  .standalone input,
  .standalone select,
  .standalone textarea {
    display: block;
    width: 100%; }

.main {
  margin-bottom: 5em; }

.mainHeader {
  text-align: center;
  margin-bottom: 3em; }
  .mainHeader:after {
    content: " ";
    display: block;
    clear: both; }
  .mainHeader a[rel="home"] {
    color: inherit;
    text-decoration: inherit; }

.mainHeader-left {
  float: left; }

.mainHeader-right {
  float: right; }

.mainFooter {
  background: #fde1cc;
  color: #333;
  font-size: small;
  padding: 0 0.5em; }
  .mainFooter a {
    text-decoration: inherit;
    color: inherit;
    margin-right: 1em; }

.languageSwitcher {
  text-transform: uppercase;
  margin: 0;
  padding: 0; }
  .languageSwitcher li {
    display: inline; }
    .languageSwitcher li:not(:last-child)::after {
      content: " | "; }

.filterBar {
  overflow: hidden;
  font-size: small; }
  .filterBar label {
    display: inline;
    margin: 0 1em;
    white-space: nowrap; }

.filterBar-left {
  float: left;
  text-align: left; }

.filterBar-right {
  float: right;
  text-align: right; }

.events {
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .events li {
    display: block; }
    @media (min-width: 25em) {
      .events li {
        float: left;
        margin-right: -100%;
        width: 49%;
        width: calc((100% + 0.5em) * 0.5 - 0.5em); }
        .events li:nth-child(2n+1) {
          margin-left: 0%;
          margin-left: calc((100% + 0.5em) * 0);
          clear: both; }
        .events li:nth-child(2n+2) {
          margin-left: 51%;
          margin-left: calc((100% + 0.5em) * 0.5);
          clear: none; } }
    @media (min-width: 38em) {
      .events li {
        float: left;
        margin-right: -100%;
        width: 32%;
        width: calc((100% + 0.5em) * 0.33333 - 0.5em); }
        .events li:nth-child(3n+1) {
          margin-left: 0%;
          margin-left: calc((100% + 0.5em) * 0);
          clear: both; }
        .events li:nth-child(3n+2) {
          margin-left: 34%;
          margin-left: calc((100% + 0.5em) * 0.33333);
          clear: none; }
        .events li:nth-child(3n+3) {
          margin-left: 68%;
          margin-left: calc((100% + 0.5em) * 0.66667);
          clear: none; } }

.listItem {
  display: block;
  background-size: cover;
  background-position: 50%;
  margin-bottom: 0.5em;
  text-decoration: none; }
  .listItem.m0 .listItem-mask {
    background: rgba(253, 225, 204, 0.75);
    color: #333; }
  .listItem.m0:hover .listItem-mask,
  .listItem.m0:focus .listItem-mask {
    background: #fde1cc;
    color: #333; }
  .listItem.m1 .listItem-mask {
    background: rgba(232, 253, 204, 0.75);
    color: #333; }
  .listItem.m1:hover .listItem-mask,
  .listItem.m1:focus .listItem-mask {
    background: #e8fdcc;
    color: #333; }
  .listItem.m2 .listItem-mask {
    background: rgba(204, 253, 225, 0.75);
    color: #333; }
  .listItem.m2:hover .listItem-mask,
  .listItem.m2:focus .listItem-mask {
    background: #ccfde1;
    color: #333; }
  .listItem.m3 .listItem-mask {
    background: rgba(204, 232, 253, 0.75);
    color: #333; }
  .listItem.m3:hover .listItem-mask,
  .listItem.m3:focus .listItem-mask {
    background: #cce8fd;
    color: #333; }
  .listItem.m4 .listItem-mask {
    background: rgba(225, 204, 253, 0.75);
    color: #333; }
  .listItem.m4:hover .listItem-mask,
  .listItem.m4:focus .listItem-mask {
    background: #e1ccfd;
    color: #333; }
  .listItem.m5 .listItem-mask {
    background: rgba(253, 204, 232, 0.75);
    color: #333; }
  .listItem.m5:hover .listItem-mask,
  .listItem.m5:focus .listItem-mask {
    background: #fdcce8;
    color: #333; }

.listItem-mask {
  height: 6em;
  padding: 1em; }

.listItem-title {
  text-transform: uppercase; }

.listItem-meta {
  font-size: small; }

.event-action {
  float: right; }

